<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <form action="https://59a0829a.ngrok.io/success" class="paymentWidgets" data-brands="VISA MASTER AMEX"></form>
    <script src="https://test.oppwa.com/v1/paymentWidgets.js?checkoutId=<%=checkoutId%>"></script>
  </body>
</html>
